name: Deploy Web
on:
  push:
    branches: [main]
    paths:
      - "apps/web/**"
      - "packages/**"
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  CI: "true"
  KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
  IMAGE_TAG: ${{ github.sha }}
jobs:
  deploy:
    if: false
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push Image
        run: |
          IMAGE_ID=$REGISTRY/$IMAGE_NAME
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          docker build . --file apps/web/Dockerfile \
            --tag $IMAGE_ID:$IMAGE_TAG \
            --tag $IMAGE_ID:latest
          docker push $IMAGE_ID:latest
          docker push $IMAGE_ID:$IMAGE_TAG
      - name: Deploy To Cluster
        uses: kodermax/kubectl-aws-eks@main
        with:
          args: set image deployment/selectio-web selectio-web=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
